.todo-list-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.todo-list-item label{
  padding: 5px 0;
  font-size: 16px;
}
.todo-list-item:hover {
  background: #eee;
}
.todo-list-item:hover>.item-del{
  display: block;
  cursor: pointer;
}

.todo-list-item + .todo-list-item {
  border-top: 1px solid #e3e3e3;
}

.item-done:checked {
  background-color: #3f94ff;
}

.item-del {
  display: none;
  color: #fff;
  background: #f76057;
  border: none;
  border-radius: 4px;
  padding:  0 15px;
}