html,
body {
    font-family: Microsoft YaHei, PingFangSC-Medium;
    color: #666666;
    font-size: 14px;
    height: 100%;
    overflow: hidden;
}

.todo-container {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}